.hero-container{
    max-width: 1250px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
}

.hero-container img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

